/* src/app/app.component.css */
.match {
  margin: 20px 0;
}

.teams {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.team {
  display: flex;
  align-items: center;
}

.team-badge {
  width: 50px;
  height: 50px;
}

.team-abbr {
  margin-left: 10px;
  margin-right: 20px;
  font-size: 1.2em;
}

.vs {
  margin: 0 20px;
  font-size: 1.5em;
  font-weight: bold;
}

.score {
  text-align: center;
  font-size: 1.2em;
}
